{% load staticfiles %}
{% load order_query %}
<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="es"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. --> 

<head data-template-set="html5-reset">

	<meta charset="utf-8">
	<meta name="robots" content="index, follow">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="shortcut icon" href="{% static 'imgs/general/favicon.ico' %}" type="image/x-icon" />

	<title>{% block title %}{% endblock %}</title>
	<meta name="title" content="{% block site_title %}{% endblock %}" />
	<meta name="keywords" content="{% block site_keywords %}{% endblock %}" />
    <meta name="description" content="{% block site_description %}{% endblock %}" />

	{% block metatags %}
    {% endblock %}

	<!--Always force latest IE rendering engine (even in intranet) & Chrome Frame-->
	<meta name="google-site-verification" content="" />
	<!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
	<meta name="author" content="quepadreserpadres.com" />
	<meta name="Copyright" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--link rel="shortcut icon" href="{% static 'image/favicon.png' %}" /--> 
	
	<link rel="apple-touch-icon" href="{% static 'imgs/general/favicon.ico' %}" />
	<!-- The is the icon for iOS's Web Clip and other things.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->

		 <!-- concatenate and minify for production -->
	 <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
	 
	 <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	 {% if popup %}
	 <link rel='stylesheet prefetch' href="{% static 'css/magnific-popup.css' %}">
	 {% endif %}
	 <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
	 
	 <link rel="stylesheet" type="text/css" href="{% static 'css/font-style.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/animation.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}">
	 {% block css %}
	 {% endblock %}
	 {% block modernizr %}
	 {% endblock %}
	 <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-85676157-1', 'auto');
	  ga('send', 'pageview');

</script>
	<!-- This is an un-minified, complete version of Modernizr. 
	Before you move to production, you should generate a custom build that only has the detects you need. -->

</head>


<body class="container-fluid {% block bodyclass %}{% endblock %}">
	<header >
		<div class="row orange-bg">
			<div class="container">
				<ul class="social-networks pull-right">
	                <li><a href="https://www.facebook.com/quepadreserpadres/" target="_blank"><i class="icon-facebook-square"></i></a></li>
	                <li><a href="https://www.instagram.com/quepadresp/" target="_blank"><i class="icon-instagram"></i></a></li>
	                <!--li><a href="https://es.pinterest.com/" target="_blank"><i class="icon-pinterest-square"></i></a></li-->
	                <li><a href="https://twitter.com/QuePadreSP" target="_blank"><i class="icon-twitter-square"></i></a></li>
	                <li><a href="https://www.youtube.com/channel/UCqzEe1717aKK6XHR8LUyvXQ" target="_blank"><i class="icon-youtube-square"></i></a></li>
	                <li><a href="mailto:info@quepadreserpadres.com"><i class="icon-envelope-square"></i></a></li>
	                <li><a href="tel:+529841095135"><i class="icon-phone-square"></i></a></li>
	            </ul>
			</div>
		</div>
		<div class="row row-logo hidden-xs">
			<div class="container text-center">
				<div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
					<a href="{% url 'home' %}">
						<img src="{% static 'imgs/general/logo-qpsp.png' %}" alt="¡QUÉ PADRE SER PADRES!" title="¡QUÉ PADRE SER PADRES!" class="img-responsive">
					</a>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default">
			<div class="row row-separator hidden-xs">
				<div class="container">
					<hr class="orange-separator">
				</div>
			</div>
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">MENÚ</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand visible-xs" href="/"><img src="{% static 'imgs/general/logo-qpsp.png' %}" alt="¡QUÉ PADRE SER PADRES!" title="¡QUÉ PADRE SER PADRES!" class="img-responsive"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav main-menu">
		        <li>
		        	<a href="{% url 'home' %}" class="menu-home">HOME</a></li>
		        {% for categoria in categorias %}
		        	<li class="dropdown">
		        		<a href="/{{ categoria.slug }}" class="menu-{{ categoria.slug }} dropdown-toggle" data-toggle="dropdown" > {{ categoria.name }} </a>
		        		<ul class="dropdown-menu hidden-sm hidden-xs">
		        		{% for cat_new in categoria.children.all|order_by:"?"|slice:":3" %}
		        			<li>
		        				<a href="{%url 'news_detail' cat_new.categoria.slug cat_new.slug %}">
		        					<p><img src="/media/{{ cat_new.imagen_thumbnail }}" class="img-responsive" alt="{{ cat_new.titulo }}" title="{{ cat_new.titulo }}"></p>
		        					<p>{{ cat_new.titulo|safe }}</p>
		        				</a>
		        			</li>
		        		{% endfor %}
		        		</ul>
		        	</li>
		        {% endfor %}
		        <li><a href="{% url 'suscripcion' %}" class="menu-suscripcion">SUSCRIPCIÓN</a></li>
		        <li class="visible-xs"><a href="{% url 'videos_view' %}" class="menu-videos">VIDEOS</a></li>
		      </ul>
		      <div class="inner-addon pull-right hidden-xs">
					<i class="icon-search"></i>
					<input id="write_something" type="Search" class="form-control" placeholder="Buscar artículo" name="term">
				</div>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="inner-addon pull-right mobile visible-xs">
			<i class="icon-search"></i>
			<input id="write_something" type="Search" class="form-control" placeholder="Buscar artículo" name="term">
		</div>
	</header>
	{% block content %}
		
	{% endblock %}
	<footer class="orange-bg row">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-6 footer-ul hidden-xs">
					<ul class="">
						<li class="">
							<a href="mailto:info@quepadreserpadres.com">
								<i class="icon-envelope-square"></i>
								<p>info@quepadreserpadres.com</p>
							</a>
						</li>
						<li>
							<a href="tel:+529841095135">
								<i class="icon-phone-square"></i>
								<p>+(52) 984-109-51-35</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6 text-center follow-box hidden-xs">
					<p>SÍGUENOS</p>
					<ul class="social-networks">
		                <li><a href="https://www.facebook.com/quepadreserpadres/" target="_blank"><i class="icon-facebook-square"></i></a></li>
		                <li><a href="https://www.instagram.com/quepadresp/" target="_blank"><i class="icon-instagram"></i></a></li>
		                <!--li><a href="https://es.pinterest.com/" target="_blank"><i class="icon-pinterest-square"></i></a></li-->
		                <li><a href="https://twitter.com/QuePadreSP" target="_blank"><i class="icon-twitter-square"></i></a></li>
		                <li><a href="https://www.youtube.com/channel/UCqzEe1717aKK6XHR8LUyvXQ" target="_blank"><i class="icon-youtube-square"></i></a></li>
		            </ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 text-center frct">
					<p>¿QUIERES SER FRANQUICIATARIO?</p>
					<a href="{% url 'franquiciatario' %}" class="btn btn-greybg btn-contacto">CONTÁCTANOS</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<hr>
				<div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3 col-xs-offset-0 text-center">
					<p style="font-family:'Roboto Slab', serif;"><i>Revista impresa por </i><img src="{% static 'imgs/general/origami-logo.png' %}" class="img-responsive" alt="Revista imprasa por ORIGAMI PRESS" title="Revista impresa por ORIGAMI PRESS" style="width:50%;margin:0 0 0 20px;display:inline-block;"></p>
				</div>
				<div class="col-md-4 col-sm-3 col-xs-12 aviso text-right">
					<p><a href="{% url 'terms_and_conditions' %}">AVISO DE PRIVACIDAD</a></p>
				</div>
			</div>
			
		</div>
		<a href="javascript:" id="return-to-top"><i class="icon-triangle-up"></i></a>
	</footer>


	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
	http://chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	
	<!--script src="http://code.jquery.com/jquery-1.10.2.js"></script-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.placeholder.js' %}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.1/masonry.pkgd.js"></script>
	<script type="text/javascript" src="{% static 'EasyAutocomplete-1.3.5.2/jquery.easy-autocomplete.min.js' %}"></script> 
	<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/form-main.js' %}"></script>
	<script type="text/javascript">
	$(window).load(function() {
		$('.masonry-grid').masonry({
			itemSelector: '.grid-item',
			isAnimated: true,
			isFitWidth: true
		});
		
    	$('input, textarea').placeholder();

		// ===== Scroll to Top ==== 
		$(window).scroll(function() {
		    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
		        $('#return-to-top').fadeIn(200);    // Fade in the arrow
		    } else {
		        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
		    }
		});
		$('#return-to-top').click(function() {      // When arrow is clicked
		    $('body,html').animate({
		        scrollTop : 0                       // Scroll to top of body
		    }, 500);
		});
	});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){

			var wwidth = $( window ).width();

			if (wwidth<769) {
				$('ul.nav li').removeClass('dropdown');
				$('ul.nav li a').removeClass('dropdown-toggle');
			};

			var options = {
			    url: function(phrase) {
					return "{% url 'search_news' %}";
				},

			    getValue: "name",
			    template: {
			        type: "links",
			        fields: {
			            link: "slug"
			        }
			    },
			    preparePostData: function(data) {
				 	data.phrase = $("#write_something").val();
					return data;
				},


				ajaxSettings: {
					dataType: "json",
					method: "GET",
					data: {
				  		dataType: "json",
				  		'csrfmiddlewaretoken': '{{ csrf_token }}',
					}
				},
				requestDelay: 400
			};
			$("#write_something, #write_something_xs").easyAutocomplete(options);

		})

		/*
		$('ul li a').click(function(){
		$('li a').removeClass("active");
		$(this).addClass("active");
		});
		*/
		$('ul.nav li.dropdown a').click(function() {
			location.href = $(this).attr('href');
		});
		$('ul.nav li.dropdown').hover(function() {
			//$('ul.main-menu li a').removeClass('active');
			$(this).css('background-color','#a4a5a6');
			$(this).find('a').css('color','#ffffff');
			$(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(500);
		}, function() {
			$(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(500);
			$(this).css('background-color','#ffffff');
			$(this).find('a').css('color','#777');
		});
		$('.dropdown-menu li a').hover(function(){
			$(this).parent().parent().parent().css('background-color','#a4a5a6');
			$(this).parent().parent().parent().find('a').css('color','#ffffff');
		}, function(){
			$(this).parent().parent().parent().css('background-color','#ffffff');
			$(this).parent().parent().parent().find('a').css('color','#777');
		})
		
	</script>
	{% block js %}
	{% endblock  %}	
	{% if popup %}
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script type="text/javascript">
	$('.video').magnificPopup({
	  type: 'iframe',
	  iframe: {
	     markup: '<div class="mfp-iframe-scaler">'+
	                '<div class="mfp-close"></div>'+
	                '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
	                '<div class="mfp-title">Some caption</div>'+
	              '</div>'
	  },
	  callbacks: {
	    markupParse: function(template, values, item) {
	     values.title = item.el.attr('title');
	    }
	  }
	});
	</script>
	{% endif %}

</body>
</html>



