{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}qpsp-contactanos{% endblock %}

{% block title %}{{ section.metatag.titulo }}{% endblock %}
{% block site_keywords %}{{section.metatag.keywords}}{% endblock %}
{% block site_description %}{{section.metatag.descripcion|safe}}{% endblock %}

{% block metatags %}
<!--Facebook-->
<meta property="og:url"         content="http://quepadreserpadres.com" />
<meta property="og:type"        content="" />
<meta property="og:title"       content="{{section.metatag.titulo}}" />
<meta property="og:description" content="{{section.metatag.descripcion|striptags|safe}}" />
<meta property="og:image"       content="" />
<!--Twiter-->
<meta name="twitter:card"       value="">
<meta name="twitter:creator"    value="Punk e-Marketing & Consulting">
<meta name="twitter:url"        value="http://quepadreserpadres.com">
<meta name="twitter:title"       value="{{section.metatag.titulo}}">
<meta name="twitter:description" value="{{section.metatag.descripcion|striptags|safe}}" />
<meta name="twitter:image"       value="">
{% endblock %}

{% block content %}
<section class="row grey-bg">
	<div class="container">
        <div class="row">
            <ul class="grid cs-style-3">
                <li class="col-md-6 col-sm-6 col-xs-12">
                    <figure class="yellow-bg">
                        <h3 class="text-center form-title">Regístrate y recibe nuestro newsletter con la versión digital en tu correo</h3>
                        <figcaption class="brown-bg form-figcaption">
                            <form id="form-contacto" class="form" action="{% url 'suscripcion' %}#form-contacto" role="form" method="POST">
                                {% csrf_token %}
                                <div class="input-container">
                                    <h4>INGRESA TUS DATOS</h4>
                                    <div class="form-group">
                                        <!--label for="nombreCompleto" class="visible-xs">Nombre</label-->
                                        <input name="user_name" type="text" class="form-control " id="nombreCompleto" placeholder="Nombre" value="{{form.user_name.value|default_if_none:""}}">        
                                        {{ form.user_name.errors }}
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <!--label for="sexo" class="visible-xs">Sexo</label-->
                                            <input name="user_sex" type="text" class="form-control" id="sexo" placeholder="Sexo" value="{{form.user_sex.value|default_if_none:""}}">
                                            {{ form.user_sex.errors }}
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <!--label for="edad" class="visible-xs">Edad</label-->
                                            <input name="user_age" type="text" class="form-control" id="edad" placeholder="Edad" value="{{form.user_age.value|default_if_none:""}}">
                                            {{ form.user_age.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <!--label for="ciudad" class="visible-xs">Ciudad</label-->
                                            <input name="user_city" type="text" class="form-control" id="ciudad" placeholder="Ciudad" value="{{form.user_city.value|default_if_none:""}}">
                                            {{ form.user_city.errors }}
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <!--label for="estado" class="visible-xs">Estado</label-->
                                            <input name="user_state" type="text" class="form-control" id="estado" placeholder="Estado" value="{{form.user_state.value|default_if_none:""}}">
                                            {{ form.user_state.errors }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!--label for="correo" class="visible-xs">Correo</label-->
                                        <input name="user_email" type="email" class="form-control" id="correo" placeholder="Correo" value="{{form.user_email.value|default_if_none:""}}">
                                        {{ form.user_email.errors }}
                                    </div>
                                </div>
                              <button type="submit" class="btn grey-strong-bg send-btn" onclick="ga('send', 'event', 'Contacto', 'clic', 'digital','0');"><strong>ENVIAR</strong></button>
                            </form> 
                        </figcaption>
                    </figure>
                </li>
                <li class="col-md-6 col-sm-6 col-xs-12">
                    <figure class="yellow-bg">
                        <h3 class="text-center form-title">Suscríbete  y recibe la versión impresa en tu domicilio</h3>
                        <figcaption class="grey-strong-bg pay-pal-content">
                            <div class="v-table">
                                <div class="v-table-cell">
                                    <!--a href="paypal.com">PAGA EN PAYPAL</a-->
                                    <h3 class="text-center form-title">Opción no disponible por el momento. Disculpe las molestias.</h3>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <div class="row banner-container-lg hidden-xs">
            <div class="col-md-12">
                <!--img src="/media/" alt="" title="" class="img-responsive"-->
                <img src="/media/{{ section.promotion_banner.banner_image }}" alt="{{ section.promotion_banner.titulo }}" title="{{ section.promotion_banner.titulo }}" class="img-responsive">
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $('ul.main-menu li a').removeClass('active');
    //$('ul.main-menu li a.menu-home').removeClass('active');
    $('.menu-suscripcion').addClass('active');
</script>
{% endblock %}
