{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}qpsp-home{% endblock %}
{% block content %}
	<section class="single-page-article row">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 col-sm-offset-2 col-sm-9  col-xs-12">
				<div class="row article-full-content terms-and-cond">
					<h1 class="text-center page-title">
						¡GRACIAS POR ENVIARNOS TUS DATOS! Pronto nos comunicaremos contigo.
					</h1>
				</div>		
			</div>
		</div>
	</section>
{% endblock %}
