{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}qpsp-franquiciatario{% endblock %}

{% block title %}{{ section.metatag.titulo }}{% endblock %}
{% block site_keywords %}{{section.metatag.keywords}}{% endblock %}
{% block site_description %}{{section.metatag.descripcion|safe}}{% endblock %}

{% block metatags %}
<!--Facebook-->
<meta property="og:url"         content="http://quepadreserpadres.com" />
<meta property="og:type"        content="" />
<meta property="og:title"       content="{{section.metatag.titulo}}" />
<meta property="og:description" content="{{section.metatag.descripcion|striptags|safe}}" />
<meta property="og:image"       content="" />
<!--Twiter-->
<meta name="twitter:card"       value="">
<meta name="twitter:creator"    value="Punk e-Marketing & Consulting">
<meta name="twitter:url"        value="http://quepadreserpadres.com">
<meta name="twitter:title"       value="{{section.metatag.titulo}}">
<meta name="twitter:description" value="{{section.metatag.descripcion|striptags|safe}}" />
<meta name="twitter:image"       value="">
{% endblock %}

{% block content %}
<section class="row grey-bg">
	<div class="container">
        <div class="row">
            <ul class="grid cs-style-3">
                <li class="col-md-6 col-sm-6 col-xs-12">
                    <figure class="grey-bg">
                        <h3 class="text-center franq">{{section.titulo}}</h3>
                        <p>{{ section.descripcion|safe }}</p>
                        <!--figcaption>
                        </figcaption-->
                        <p><img src="/media/{{ section.promotion_banner.banner_image }}" alt="{{ section.promotion_banner.titulo }}" title="{{ section.promotion_banner.titulo }}" class="img-responsive"></p>
                    </figure>
                </li>   
                <li class="col-md-6 col-sm-6 col-xs-12">
                    <figure class="yellow-bg">
                        <h3 class="text-center form-title">Contáctanos para recibir más información</h3>
                        <figcaption class="brown-bg form-figcaption">
                            <form id="form-franq" class="form" action="{% url 'franquiciatario' %}#form-franq" role="form" method="POST">
                                {% csrf_token %}
                                <div class="input-container">
                                    <h4>INGRESA TUS DATOS</h4>
                                    <div class="form-group">
                                        <!--label for="nombreCompleto" class="visible-xs">Nombre</label-->
                                        <input name="user_name" type="text" class="form-control " id="nombreCompleto" placeholder="Nombre" value="{{form.user_name.value|default_if_none:""}}">        
                                        {{ form.user_name.errors }}
                                    </div>
                                    <div class="form-group">
                                        <!--label for="correo" class="visible-xs">Correo</label-->
                                        <input name="user_email" type="email" class="form-control" id="correo" placeholder="Correo" value="{{form.user_email.value|default_if_none:""}}">
                                        {{ form.user_email.errors }}
                                    </div>
                                    <div class="form-group">
                                        <!--label for="telefono" class="visible-xs">Teléfono</label-->
                                        <input name="user_phone_number" type="text" class="form-control" id="telefono" placeholder="Teléfono" value="{{form.user_phone_number.value|default_if_none:""}}">
                                        {{ form.user_phone_number.errors }}
                                    </div>
                                    <div class="form-group">
                                        <!--label for="correo" class="visible-xs">Mensaje</label-->
                                        <textarea class="form-control" id="inputcomentarios" rows="3" name="user_message" placeholder="Mensaje" value="{{form.user_message.value|default_if_none:""}}"></textarea>
                                        {{ form.user_message.errors }}
                                    </div>
                                </div>
                              <button type="submit" class="btn grey-strong-bg send-btn" onclick="ga('send', 'event', 'Contacto', 'clic', 'franquicia','0');"><strong>ENVIAR</strong></button>
                            </form> 
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}