{% extends 'base.html' %}
{% load staticfiles %}
{% load tagging_tags %}

{% block bodyclass %}qpsp-home{% endblock %}

{% block title %}{% if section.metatag.titulo %}{{section.metatag.titulo}}{% else %}{{ new.titulo}}{% endif %}{% endblock %}
{% block site_keywords %}{{new.metatag.keywords}}{% endblock %}
{% block site_description %}{{new.metatag.descripcion|safe}}{% endblock %}

{% block metatags %}
<!--Facebook-->
<meta property="og:url"         content="http://quepadreserpadres.com/{{ new.categoria.slug }}/{{ new.slug }}" />
<meta property="og:type"        content="Website" />
<meta property="og:title"       content="{{ new.metatag.titulo }}" />
<meta property="og:description" content="{{ new.metatag.descripcion|striptags|safe }}" />
<meta property="og:image"       content="http://quepadreserpadres.com/media/{{ new.imagen1 }}" />
<!--Twiter-->
<meta name="twitter:card"       value="">
<meta name="twitter:creator"    value="Punk e-Marketing & Consulting">
<meta name="twitter:url"        value="http://quepadreserpadres.com/{{ new.categoria.slug }}/{{ new.slug }}" />
<meta name="twitter:title"       value="{{new.metatag.titulo}}">
<meta name="twitter:description" value="{{new.metatag.descripcion|striptags|safe}}" />
{% if new.imagen1 %}
<meta name="twitter:image"       value="http://quepadreserpadres.com/media/{{ new.imagen1 }}" />
{% else %}
<meta name="twitter:image"       value="http://quepadreserpadres.com/media/{{ new.imagen_thumbnail }}" />
{% endif %}

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=366028260404027";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}


{% block content %}
	<section class="single-page-article row">
		<div class="container">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="row no-margin article-full-content">
					{% if new.imagen1 %}
					<img src="/media/{{ new.imagen1 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					{% else %}
					<img src="/media/{{ new.imagen_thumbnail }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					{% endif %}
					<h1 class="single-new-title">{{ new.titulo|safe }}</h1>
					<p class="sumario">{{ new.sumario|safe }}</p><br>
					<p>{{ new.texto1|safe }}</p>
					{% if new.imagen2 %}
					<p>
						<img src="/media/{{ new.imagen2 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					</p>
					{% endif %}

					<p>{{ new.texto2|safe }}</p>
					{% if new.destacado1 %}
					<br>
					<p class="nota-destacada">
						"{{ new.destacado1|striptags|safe }}"
					</p><br>
					{% endif %}

					{% if new.texto3 %}
					<p>{{ new.texto3|safe }}</p>
					{% endif %}
					{% if new.imagen3 %}
					<p>
						<img src="/media/{{ new.imagen3 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
						<br>
					</p>
					{% endif %}

					{% if new.texto4 %}
					<p>{{ new.texto4|safe }}</p>
					{% endif %}

					{% if new.destacado2 %}
					<br>
					<p class="nota-destacada">
						"{{ new.destacado2|safe }}"
					</p><br>
					{% endif %}

					{% if new.texto5 %}
					<p>{{ new.texto5|safe }}</p>
					{% endif %}

					{% if new.imagen4 %}
					<p>
						<img src="/media/{{ new.imagen4 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
						<br>
					</p>
					{% endif %}

					{% if new.texto6 %}
					<p>{{ new.texto6|safe }}</p>
					{% endif %}

					{% if new.texto7 %}
					<p>{{ new.texto7|safe }}</p>
					{% endif %}
					{% if new.imagen5 %}
					<p>
						<!--p>{{ new.imagen5 }}</p-->
						<img src="/media/{{ new.imagen5 }}" class="img-responsive" alt="{{ new.titulo|striptags|safe }}" title="{{ new.titulo|striptags|safe }}">
					</p><br>
					{% endif %}
				</div>
				{% if new.tags %}
				<div class="row no-margin lista-etiquetas">
					<p><!--span class="tags">Tags:</span--> 
						{# tag_cloud_for_model main.New as tags with steps=6 min_count=1 distribution=log #}
						{% tags_for_object new as tag_list %}
						{% for tag in tag_list %}
							<a href="{% url 'tag' tag.name|slugify %}">
								<span class="tag-item">
									{{ tag.name }}
								</span> 
							</a>

						{% endfor %}
					</p>
				</div>
				{% else %}
				{% endif %}
				
				
				<div class="row no-margin margin-top40">
					<!-- Your like button code >
					<div class="fb-like" data-href="http://quepadreserpadres.com/{{ new.categoria.slug }}/{{ new.slug }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div-->
					<div class="fb-like" data-href="http://quepadreserpadres.com/{{ new.categoria.slug }}/{{ new.slug }}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
				</div>

				<div class="row no-margin">
					<br>
					<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-582ccbcc594f8eea"></script> 
					<!-- Go to www.addthis.com/dashboard to customize your tools --> <div class="addthis_inline_share_toolbox"></div>
				</div>
				<div class="row no-margin article-controls">
					<div class="col-md-4 col-sm-4 col-xs-12 prev-wrap">
						{% if new.get_previous %}
						<a href="{% url 'news_detail' new.categoria.slug new.get_previous.slug %}" class="btn btn-prev">
							<div class="row">
								<div class="col-md-12">
									<p>ARTÍCULO ANTERIOR</p>
									{{ new.get_previous|safe }}
								</div>
								<img src="{% static 'imgs/general/arrow-left.png' %}" class="prev-img hidden-xs" alt="{{ new.get_previous.titulo|striptags|safe }}" title="{{ new.get_previous.titulo|striptags|safe }}">
							</div>
						</a>
						{% else %}
						{% endif %}
					</div>
					<div class="col-md-4 col-sm-4 col-xs-4 no-padding text-center hidden-xs">
						<p>
						<a href="/{{ new.categoria.slug }}" class="btn btn-cat">
							REGRESAR A: {{ new.categoria.name }}
						</a>
					</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 next-wrap">
						{% if new.get_next %}
						<a href="{%url 'news_detail' new.categoria.slug new.get_next.slug %}" class="btn btn-next">
							<div class="row">
								<div class="col-md-12">
									<p>ARTÍCULO SIGUIENTE</p>
									{{ new.get_next|safe }}
								</div>
							</div>
							<img src="{% static 'imgs/general/arrow-right.png' %}" class="next-img hidden-xs" alt="{{ new.get_next.titulo|striptags|safe }}" title="{{ new.get_next.titulo|striptags|safe }}">
						</a>
						{% endif %}
					</div>
				</div>
				<div class="row no-margin related-articles">
					<h3 class="text-center right-bar-title" style="margin-bottom:15px;">TAMBIÉN TE PODRÍAN INTERESAR</h3>
					{% for item in related_news %}
						<div class="col-md-4 col-sm-6 col-xs-12 article-item">
							<a href="{%url 'news_detail' item.categoria.slug item.slug %}">
								<img src="/media/{{ item.imagen_thumbnail }}" class="img-responsive">
							
							<div class="article-description">
								<h4 class="text-center news-title">{{ item.titulo|safe|truncatechars:35 }}</h2>
								<div class="rel-desc">
									{% if item.sumario %}
									<p >{{ item.sumario|safe|truncatechars:120 }}</p>
									{% else %}
									<p >{{ item.texto1|safe|truncatechars:120 }}</p>
									{% endif %}
								</div>
								<p class="text-center read-more"><a href="{%url 'news_detail' item.categoria.slug item.slug %}">LEER MÁS</a></p>
							</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 colo-md-offset-1 col-sm-offset-1 hidden-xs">
				{% include "rightbar.html" %}  
			</div>
		</div>
	</section>
{% endblock %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}