{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}qpsp-resultado{% endblock %}
{% block content %}
	<!--section class="slider-content row">
		<div class="container-fluid withinpadding">
			<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

			  <ol class="carousel-indicators">
			    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#bs-carousel" data-slide-to="1"></li>
			  </ol>
			  
			  <div class="carousel-inner">
			    <div class="item slides active">
			      <div class="slide-1">
			      	<img src="{% static 'imgs/general/banner-home1.jpg' %}" class="img-responsive">
			      </div>
			      <div class="hero col-md-5 col-sm-5">
			        <hgroup>
			            <h2>Lorem Ipsum</h2>        
			            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			        </hgroup>
			        <button class="btn btn-hero btn-lg" role="button">IR AL ARTÍCULO</button>
			      </div>
			    </div>
			  </div> 
			</div>
		</div>
	</section-->
	<section class="articles-content row">
		<div class="container">
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row">
					<h1 class="text-center page-title">RESULTADO DE BÚSQUEDA</h1>
				</div>
				<!-- <h1>Choose your favorite module</h1> -->
				<div class="row">
					<div class="col-md-12 list_of_articles">
						<div class="masonry-grid">
						{% for new in entries %}
							<div class="grid-item article-item col-md-6 col-sm-6 col-xs-12">
								<a href="{% url 'news_detail' new.categoria.slug new.slug %}">
									<img src="/media/{{ new.imagen_thumbnail }}" class="img-responsive" alt="{{ new.titulo|safe }}">
									<div class="article-description">
										<h2 class="text-center news-title">{{ new.titulo|safe }}</h2>
										<p>{{ new.texto1|striptags|safe|truncatewords:20 }}</p>
										<p class="text-center"><a class="leermas" href="{% url 'news_detail' new.categoria.slug new.slug %}">LEER MÁS</a></p>
									</div>
								</a>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				{% include "rightbar.html" %}  
			</div>
		</div>
	</section>	
{% endblock %}

