{% load staticfiles %}
<div class="row no-margin">
	<h3 class="text-center right-bar-title">ARTÍCULOS MÁS LEÍDOS</h3>
	<ol class="most-viewed-articles">
	{% for item in list_most_viewed %}

		<li><a href="{%url 'news_detail' item.categoria.slug item.slug %}">{{item.titulo}} <i class="icon-triangle-right"></i></a></li>
	{% endfor %}
	</ol>
</div>
<hr class="row right-separator">
<div class="row latest_videos no-margin">
	<h3 class="text-center right-bar-title" style="margin-bottom:30px;margin-top:0">VIDEOS</h3>
	<ul>
	{% for video in latest_videos %}
		<li>
			<a href="https://www.youtube.com/watch?v={{ video.id_video }}" class="video">
				<div style="overflow:hidden">
					<img src="http://img.youtube.com/vi/{{ video.id_video }}/hqdefault.jpg" class="img-responsive" style="margin:-10% 0;">
				</div>
				<i class="icon-triangle-right"></i>
				<p>{{ video.titulo }}</p>
			</a>
		</li>
	{% endfor %}
		<li class="">
			<a class="suscribe" href="{% url 'videos_view' %}">VER TODOS LOS VÍDEOS</a>
		</li>
	</ul>
</div>
<hr class="row right-separator">
<div class="row no-margin">
	<h3 class="text-center right-bar-title" style="margin-bottom:30px;margin-top:0">RECIBE NUESTRO NEWSLETTER CON LA REVISTA DIGITAL</h3>
	<a href="{% url 'suscripcion' %}" class="suscribe">
		SUSCRÍBETE
	</a>
</div>
<hr class="row right-separator">
<div class="row no-margin">
	{% if section.banner %}
		{% for banner in section.banner.banneritem_set.all %}
			{% if banner.slide_url %}
				<a href="{{ banner.slide_url }}" target="_blank">
					<img src="/media/{{ banner.image }}" class="img-responsive">
				</a>
			{% else %}
				<img src="/media/{{ banner.image }}" class="img-responsive">
			{% endif %}
			<br>
		{% endfor %}
	{% else %}
		{% for banner in banners %}
			{% if banner.slide_url %}
				<a href="{{ banner.slide_url }}" target="_blank">
					<img src="/media/{{ banner.image }}" class="img-responsive">
				</a>
			{% else %}
				<img src="/media/{{ banner.image }}" class="img-responsive">
			{% endif %}
			<br>
		{% endfor %}
	{% endif %}
</div>
<hr class="row right-separator">
<div class="row event-content no-margin">
	<h3 class="text-center right-bar-title" style="margin-bottom:30px;margin-top:0">DISFRUTA TU CIUDAD CON NOSOTROS:</h3>
	<ul class="events">
		<li class="col-sm-6 col-xs-6 no-padding">
			<a href="https://www.facebook.com/QPSPacapulco/" target="_blank">
				<img src="{% static 'imgs/general/PERFIL_ACAPULCO.png' %}" class="img-responsive" alt="QPSP Acapulco" title="QPSP Acapulco">
			</a>
		</li>
		<li class="col-sm-6 col-xs-6 no-padding">
			<a href="https://www.facebook.com/QPSP-Canc%C3%BAn-te-invita-289433958076446/" target="_blank">
				<img src="{% static 'imgs/general/PERFIL_CANCUN.png' %}" class="img-responsive" alt="QPSP Cancún" title="QPSP Cancún">
			</a>
		</li>
		<li class="col-sm-6 col-xs-6 no-padding">
			<a href="https://www.facebook.com/QPSP-Riviera-Maya-te-invita-1609426432700743/" target="_blank">
				<img src="{% static 'imgs/general/PERFIL_RIVIERA_MAYA.png' %}" class="img-responsive" alt="QPSP Riviera Maya" title="QPSP Riviera Maya">
			</a>
		</li>
	</ul>
</div>
{% if section.promotion_banner %}
<!--hr class="row right-separator">
<div class="row no-margin" style="margin-bottom:30px;">
	{% if section.promotion_banner.banner_url %}
		<a href="{{ section.promotion_banner.banner_url }}" target="_blank">
			<img src="/media/{{ section.promotion_banner.banner_image }}" alt="{{ section.promotion_banner.titulo }}" title="{{ section.promotion_banner.titulo }}" class="img-responsive">
		</a>
	{% else %}
		<img src="/media/{{ section.promotion_banner.banner_image }}" alt="{{ section.promotion_banner.titulo }}" title="{{ section.promotion_banner.titulo }}" class="img-responsive">
	{% endif %}
</div-->
{% else %}
<!--hr class="row right-separator">
<div class="row no-margin" style="margin-bottom:30px;">
	{% if promotion_banner.banner_url %}
		<a href="{{ promotion_banner.banner_url }}" target="_blank">
			<img src="/media/{{ promotion_banner.banner_image }}" alt="{{ promotion_banner.titulo }}" title="{{ promotion_banner.titulo }}" class="img-responsive">
		</a>
	{% else %}
		<img src="/media/{{ promotion_banner.banner_image }}" alt="{{ promotion_banner.titulo }}" title="{{ promotion_banner.titulo }}" class="img-responsive">
	{% endif %}
</div-->
{% endif %}

{% block js %}

{% endblock %}